<launch>

	<include file="$(find srs_assisted_arm_navigation)/launch/arm_manip_node.launch"/>

	<group>
		<node pkg="arm_kinematics_constraint_aware" type="arm_kinematics_constraint_aware" name="cob_arm_kinematics">
			<param name="group" type="string" value="arm" />
			<param name="arm/root_name" type="string" value="base_footprint" />
			<param name="arm/tip_name" type="string" value="sdh_palm_link" />
			<param name="arm/robot" type="string" value="$(env ROBOT)" />
			<param name="kinematics_solver" type="string" value="cob3_arm_kinematics/KDLArmKinematicsPlugin" />
		</node>
		<include file="$(find srs_assisted_arm_navigation)/launch/ompl_planning.launch" />
		<include file="$(find cob_arm_navigation)/launch/trajectory_filter_server.xml" />
	</group>

	<group>
		<node name="but_server_node" pkg="srs_env_model" type="but_server_node" respawn="true" output="log">
			<param name="input_has_rgb" type="bool" value="false"/>
			<param name="diferential_frames_count" value="1" type="int"/> 

			<remap from="cpc_camera_info" to="/cam3d/rgb/camera_info" />
			<remap from="ocp_camera_info" to="/cam3d/rgb/camera_info" /> 
			<remap from="pcp_points" to="/cam3d/depth/points_filtered2" />

			<remap from="but_server_node/camera_info" to="/cam3d/depth/camera_info" />
			<remap from="but_server_node/points_in" to="/cam3d/depth/points_filtered2" />

			<param name="max_range" type="double" value="4.5"/>

			<param name="pointcloud_min_z" value="0.2" type="double"/>
			<param name="pointcloud_max_z" value="2.0" type="double" />
			<param name="resolution" value="0.05" type="double"/>
			<param name="frame_skip" value="5" type="int"/>
		</node>
	</group>

	<include file="$(find srs_assisted_arm_navigation)/launch/planning_scene_warehouse_viewer_cob3_3_robot.launch" />

</launch>

